@import url('https://fonts.googleapis.com/css?family=Inter');

html{
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Inter";
  //comment in if overflow occurs
  //overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
