@import "variables";
.logo {
  font-size: $font-size-spaced;
  letter-spacing: $font-size-spaced;
  font-weight: $font-weight-accent;
  line-height: $line-height-accent;
}
.navlink {
    margin-right: 20px;
}