@import "variables";

.primary-header{
   align-items: center; 
   justify-content: space-between;
   background-color: $light-theme-accent;
}

.mobile-nav-toggle{
    display: none;
}

.primary-navigation{
    //This aligns icon
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.flex{
    display: flex;
    gap: 2em;
}

.logo{
    margin: 2rem;
    font-weight: $font-weight-accent;
    font-size: $font-size-spaced;
    letter-spacing: $letter-spacing-accent;
    text-transform: uppercase;
    line-height: $line-height-accent;
}
    
.nav-items {
    margin-top: 3rem;
    margin-right: 1em;
    font-weight: $font-weight-accordion;
    font-weight: $font-size-navbar;
    text-transform: uppercase;
}

@media (max-width: 45em) {
    .primary-navigation {
        //gap:1em;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        background: hsl(0 0% 100% / 0.9);
        flex-direction: column;
        padding: min(10vh, 6rem) 2em;
        transform: translateX(100%)
    } 
    
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background: 0;
        //width: 1rem;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }
}