@import "variables";

.primary-header{
   align-items: center; 
   justify-content: space-between;
}

.primary-navigation{
    list-style: none;
    padding: 0;
    margin: 0;
}

.flex{
    display: flex;
    gap: 2em;
}

.logo{
    margin-left: 6rem;
    margin-top: 4rem;
    font-weight: $font-weight-accent;
    font-size: $font-size-spaced;
    letter-spacing: $letter-spacing-accent;
    text-transform: uppercase;
    line-height: $line-height-accent;
}
    
.nav-items {
    margin-top: 3rem;
    margin-right: 1em;
    font-weight: $font-weight-accordion;
    font-weight: $font-size-navbar;
    text-transform: uppercase;
}

.icon{
   vertical-align: middle; 
    
}