//Colors
$white: #ffffff;
$black: #000000;
$light-theme-accent: #f6f5f1;

//Font weights
$font-weight-accent: 700;
$font-weight-accordion: 600;
$font-weight-text: 400;

//Font sizes
$font-size-heading: 1.75rem;
$font-size-hello: 4.375rem;
$font-size-spaced: 1rem;
$font-size-text: 1.125rem;
$font-size-accordion-heading: 1.25rem;
$font-size-navbar: 0.875rem;

//Letter spacing
$letter-spacing-accent: 0.5rem;

//Line height
$line-height-accent: 1.5rem;


